* {
    font: 18px Calibri;
}

body {
    background: #ccc;
}

#theForm {
    background: #fff;
    border: 1px solid #ddd;
    width: 350px;
    padding: 10px;
    margin: 50px;
}

#theForm div {
    margin: 10px 0px;
}

label,
#submit {
    text-transform: capitalize;
}

#feedback {
    font-size: 16px;
    color: maroon;
}

ol li {
    background: #abc;
    margin: 5px;
    padding: 5px;
}

ol li:hover {
    background: #cba;
    cursor: pointer;
}